{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'flats/main.css' %}">
    <title>Dream Analytics</title>
    <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
    <script type="text/javascript">
            var locationInfo = document.getElementById('location');

            DG.then(function () {
                var map,
                    marker;

                map = DG.map('map', {
                    center: [54.981, 82.891],
                    zoom: 15
                });

                marker = DG.marker([54.981, 82.891], {
                    draggable: true
                }).addTo(map);

                marker.on('drag', function(e) {
                    var lat = e.target._latlng.lat.toFixed(3),
                        lng = e.target._latlng.lng.toFixed(3);

                    locationInfo.innerHTML = lat + ', ' + lng;
                });
            });
        </script>

</head>
<body>
<main>
    <div class="container">
        <h2 class="my-5 h2 text-center" style="position:relative; top:400px">Сортировка квартир</h2>
        <p id="location"></p>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div id="map" style="width:500px; height:400px; position:relative; left:500px; top:450px;"></div>

                <form method="POST" class="card-body">
                    {% csrf_token %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        {{ form.building_type|as_crispy_field }}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        {{ form.rooms|as_crispy_field }}

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        {{ form.floor|as_crispy_field }}

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        {{ form.floors_amount|as_crispy_field }}

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        {{ form.region|as_crispy_field }}

                    </div>
                    <div id="district_div">
                        <div class="col-lg-4 col-md-6 mb-4">
                            {{ form.district|as_crispy_field }}
                        </div>
                    </div>
                    <div id="msc_div">
                        <div class="col-lg-4 col-md-6 mb-4">
                            {{ form.moscow_stations|as_crispy_field }}
                        </div>
                    </div>
                    <div id="spb_div">
                        <div class="col-lg-4 col-md-6 mb-4">
                            {{ form.spb_stations|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Продолжить</button>
                </form>

                {% if avg_price %}
                <h2>Средняя цена: {{ avg_price }}</h2>
                {% endif %}
                {% if flats_amount %}
                <h2>Найдено квартир: {{ flats_amount }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
<script>
    var link = document.getElementById('district_div');
    link.style.display = 'none';
    var link = document.getElementById('msc_div');
    link.style.display = 'none';
    var link = document.getElementById('spb_div');
    link.style.display = 'none';

    function Hide() {
        if(document.getElementById('id_region').options[document.getElementById('id_region').selectedIndex].value == "moskva") {
             document.getElementById('district_div').style.display = 'none';
             document.getElementById('spb_div').style.display = 'none';
             document.getElementById('msc_div').style.display = '';
        }else if(document.getElementById('id_region').options[document.getElementById('id_region').selectedIndex].value == "NotSpecified") {
             document.getElementById('district_div').style.display = 'none';
             document.getElementById('msc_div').style.display = 'none';
             document.getElementById('spb_div').style.display = 'none';
         }else if(document.getElementById('id_region').options[document.getElementById('id_region').selectedIndex].value == "sankt_peterburg") {
             document.getElementById('district_div').style.display = 'none';
             document.getElementById('msc_div').style.display = 'none';
             document.getElementById('spb_div').style.display = '';

        }else if(document.getElementById('id_region').options[document.getElementById('id_region').selectedIndex].value == "mahachkala") {
             document.getElementById('district_div').style.display = '';
             document.getElementById('msc_div').style.display = 'none';
             document.getElementById('spb_div').style.display = 'none';

        }
    }

    window.onload = function() {
        document.getElementById('id_region').onchange = Hide;
    };
















</script>
